.cardsContainer{
    width: 430px;
    height: 203px;
    align-items: center;
}

.cardsContainer div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item{
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    text-align: justify;
}