.articleContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 448px;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #ffff;
    border-left: 6px solid rgba(0, 51, 102, 1);
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.item{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #666666;
    padding: 10px 15px;
    align-items: center;
}

.item:hover{
    background-color: rgba(39, 174, 96, 0.15);
}

@media (max-width: 768px) {
    .articleContainer {
        padding: 0 15px;
    }
    
    .item {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .articleContainer {
        padding: 0 10px;
        gap: 10px;
    }
    
    .item {
        padding: 10px;
    }
}